<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
    <form method="post" action="">
        <label>
            <input type="text" placeholder="Enter Number"/>
        </label>
        <label>
            <input type="text" placeholder="Enter Number"/>
        </label>
        <label for="operator"></label>
        <select name="operator" id="operator">
          <option value="add">+</option>
          <option value="subtract">-</option>
          <option value="multiply">*</option>
          <option value="divide">/</option>
        </select>
        <input type="submit" value="Calculate"/>

    </form>
</body>
</html>